
.card{

    /* padding: 10px;
    background: #fff;
    float: left;
    width : 100px;
    margin : 10px */
    border-radius: 12px !important;
    float: left;
    margin :7px;
    width: 20rem
}

#note_main_div{

    width : fit-content !important;
    height: 100%;
    margin : auto
}


.deleteIcon {
    background-color: #fff;
    border : 0px;
    position: absolute;
    bottom: 1em;
    right : 1em;
    padding : 2px
}

.editIcon{
    color: gray;
    position: absolute;
    top: 1em;
    right : 1em;
    background-color: #fff;
    border : 0px;



}